.comment{:id => "comment_#{comment.id}"}
  .timeline_content
    %span.timeline_time
      = l(comment.created_at, format: :time)
  .timeline_detail{:id => "js_comment_#{comment.id}"}
    = simple_format(comment.content)
    = link_to '削除' ,comment_path(comment), data: { method: 'delete',confirm: t('defaults.message.delete_confirm') }, remote: true
