<header class="header" id="header">
  <div class="header_logos">
    <p class="header_pageTitle">
      <%= link_to  root_path  do %>
        <%= image_tag 'ojisan.png', size: "60x60"%>
      <% end %>
    </p>
  </div>
  <% if logged_in? %>
    <div class="openbtn"><span></span><span></span><span></span></div>
    <nav id="g-nav">
      <div id="g-nav-list">
        <ul>
          <li><a href="#">Top</a></li>
          <li><%=link_to 'Vital', vitals_path, class: 'dropdown-item' %></li>
          <li><%=link_to t('defaults.logout'), logout_path, method: :delete , class: 'dropdown-item' %></li>
        </ul>
      </div>
    </nav>
  <% else %>
    <%= link_to "ログイン", login_path ,class: 'header_loginBtn'%>
  <% end %>
</header>

<%= javascript_pack_tag 'toggle'%>
