%body
  %header#header.header
    .header_logos
      %p.header_pageTitle
        - if logged_in?
          = link_to  vitals_path do
            = image_tag 'ojisan.png', size: "60x60"
        - else
          = link_to  root_path  do
            = image_tag 'ojisan.png', size: "60x60"
    - if logged_in?
      .openbtn
        %span
        %span
        %span
      %nav#g-nav
        #g-nav-list
          %ul
            %li= link_to 'Top', root_path, class: 'dropdown-item'
            %li= link_to 'Mypage', profile_path
            %li= link_to 'Vital', vitals_path, class: 'dropdown-item'
            %li= link_to t('defaults.logout'), logout_path, method: :delete , class: 'dropdown-item'
    - else
      = link_to "ログイン", login_path ,class: 'header_loginBtn'
  = javascript_pack_tag 'toggle'
