.container
  = link_to '戻る', :back, class: "btn btn-secondary btn-sm"
  = form_with(model: vital, local: true) do |f|
    = render 'shared/error_messages', object: f.object
    %div
      = f.label :day, '計測日'
    %div
      = f.datetime_field :day, class: 'form-control'
    %div
      = f.label :temperature, '体温(度)'
    %div
      = f.text_field :temperature, class: 'form-control'
    %div
      = f.label :high_bp, '収縮期血圧(上の血圧mmHg)'
    %div
      = f.text_field :high_bp, class: 'form-control'
    %div
      = f.label :low_bp, '拡張期血圧(下の血圧mmHg)'
    %div
      = f.text_field :low_bp, class: 'form-control'
    %div
      = f.label :pulse , '脈拍数(回/分)'
    %div
      = f.text_field  :pulse , class: 'form-control'
    %div
      = f.label :oxygen_saturation, '酸素飽和度(%)'
    %div
      = f.text_field :oxygen_saturation, class: 'form-control'
    = f.submit  class: 'btn-log'
