<%= link_to vital_path(vital) do %>
  <div class="card">
    <div class="card_vital container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>体温</th>
            <th>高血圧</th>
            <th>低血圧</th>
            <th>脈拍</th>
            <th>酸素飽和度</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr id="vital_<%= vital.id %>">
            <td>
              <%= vital.temperature %>
            </td>
            <td><%= vital.high_bp %></td>
            <td><%= vital.low_bp %></td>
            <td><%= vital.pulse %></td>
            <td><%= vital.oxygen_saturation %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card_detail">
      <div class="card_content">
        <div class="card_comment">
        コメント入れる
        </div>
        <div class="card_feces">
          <%= image_tag 'feces.svg' %>
        </div>
        <div class="card_day">
          <p><%= l(vital.day, format: :short) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
