.card
  .card_vital.container
    .dropdown
      = image_tag "actions.svg",class: 'dropbtn'
      .dropdown-content.mini
        = link_to '編集する',edit_vital_path(vital)
        = link_to '削除する',vital_path(vital),data:{method: 'delete',confirm:'本当に削除してもよろしいですか？'}
    = link_to vital_path(vital) do
      %table.table.table-hover
        %thead
          %tr
            %th 体温
            %th 血圧(上)
            %th 血圧(下)
            %th 脈拍
            %th 酸素飽和度
            %th{:colspan => "3"}
        %tbody
          %tr
            %td{:class => "#{vital.check_temprature}"}= vital.temperature
            %td{:class => "#{vital.check_high_bp}"}= vital.high_bp
            %td{:class => "#{vital.check_low_bp}"}= vital.low_bp
            %td{:class => "#{vital.check_pulse}"}= vital.pulse
            %td{:class => "#{vital.check_oxygen_saturation}"}= vital.oxygen_saturation
  .vital{:id => "vital_#{vital.id}"}
    .card_detail
      .card_content
        コメント数(#{vital.comments.count})
        .card_feces.feces-btn
          = render 'defecations/defecation', vital: vital
        .card_day
          %p= l(vital.day, format: :short)
